*{
     font-family: "Itim", cursive;}


     .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      height: 100vh; /* Assegura que o contêiner ocupe toda a altura da viewport */
      background-image: url('../../assets/AAA.png');
      background-size: cover;
      background-position: center; 
    }

.inputEntrar{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    margin-block: 2vh;
    margin-top: 4vh;
    padding-block: 20px;
    width: 24rem;
    border-radius: 500px 500px 500px 500px;
    font-size: 1rem;

}

.inputEntrar:focus{
  background: linear-gradient(0deg, rgba(0, 183, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 90%);


}


.botaoEntrar{

    margin-top: 3vw;
    padding-block: 4px;
    width:16rem;
    border-radius: 500px 500px 500px 500px;

    border: solid 4px rgb(219, 216, 255);
    
  
    background: rgb(0, 17, 255);
background: linear-gradient(0deg, rgba(0,146,255,1) 0%, rgba(255,255,255,1) 90%);

    font-family: "Itim", cursive;
    font-size: 30px;
    color: white;
} 

.botaoEntrar:hover {
  border: solid 4px rgb(123, 131, 202);
 
  color: rgb(0, 19, 128);
  background: rgb(0,63,185);
  background: linear-gradient(0deg, rgba(0,63,185,1) 0%, rgba(0,146,255,1) 50%, rgba(0,63,185,1) 100%);
  
}

.fullScreenGif {
  position: absolute;
  width: 100%; /* Largura completa da tela */
  height: 100%; /* Altura completa da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Coloca o GIF sobre outros elementos */
  mix-blend-mode: hard-light;
}

.fullScreenGif img {
  width: 100%; /* Largura completa da tela */
  height: 100%; /* Altura completa da tela */
}
